<footer class="w-full flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0 py-16">
  {# <div class="text-center pr-0 sm:pr-8 py-4">
    <ul class="list-none">
      {% for item in site.social %}
        <li>
          <a class="text-gray-800 hover:text-thrivelight no-underline" href="{{ item.url }}" target="_blank" rel="_noopener">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-thrivedark mx-auto sm:mx-0"></div> #}
  <div class="text-center px-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-thrivelight no-underline" href="{% if isFront %}#what{% else %}{{ env.baseUrl }}#what{% endif %}">What We Do</a>
      </li>
    </ul>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-thrivedark mx-auto sm:mx-0"></div>
  <div class="text-center px-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-thrivelight no-underline" href="{% if isFront %}#services{% else %}{{ env.baseUrl }}#services{% endif %}">Services</a>
      </li>
    </ul>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-thrivedark mx-auto sm:mx-0"></div>

  <div class="text-center px-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-thrivelight no-underline" href="{% if isFront %}#team{% else %}{{ env.baseUrl }}#team{% endif %}">Team</a>
      </li>
    </ul>
  </div>
  <!-- REMOVE 
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-thrivedark mx-auto sm:mx-0"></div>
  <div class="text-center px-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-thrivelight no-underline" href="{% if isFront %}#contact{% else %}{{ env.baseUrl }}#contact{% endif %}">Contact Us</a>
      </li>
    </ul>
  </div>
  -->
</footer>