<nav
  class="flex flex-col sm:flex-row w-full justify-between items-center px-4 sm:px-6 py-1 bg-white sm:bg-transparent shadow sm:shadow-none">
  <div
    class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap justify-between items-center">
    <a href="{{ env.baseUrl }}" class="no-underline"><img src="{{ env.baseUrl }}img/thrivelogo_ltbg.png" alt="Thrive Tech Consultants"
        class="h-12 py-1"></a>
    <button id="menuBtn" class="hamburger block sm:hidden focus:outline-none" type="button" onclick="navToggle();" aria-label="Show Menu"><span
        class="hamburger__top-bun"></span><span class="hamburger__bottom-bun"></span></button>
  </div>
  <div id="menu"
    class="w-full text-thrivedark sm:w-auto self-end sm:self-center hidden sm:flex flex-col sm:flex-row items-center h-full py-1 pb-4 sm:py-0 sm:pb-0">
    <a class="font-bold hover:text-thrivelight text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1"
      href="{% if isFront %}#what{% else %}{{ env.baseUrl }}#what{% endif %}">What We Do</a>
    <a class="font-bold hover:text-thrivelight text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1"
      href="{% if isFront %}#services{% else %}{{ env.baseUrl }}#services{% endif %}">Services</a>
    <a class="font-bold hover:text-thrivelight text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1"
      href="{% if isFront %}#team{% else %}{{ env.baseUrl }}#team{% endif %}">Team</a>
      <a class="font-bold hover:text-thrivelight text-lg text-center w-full no-underline sm:w-auto sm:px-4 py-2 sm:py-1"
      href="{% if isFront %}#contact{% else %}{{ env.baseUrl }}#contact{% endif %}">Contact Us</a>
  </div>
</nav>